.border_red{
    border: solid 1px greenyellow;
}

.border_green{
    border: groove 1px greenyellow;
    background-color: red;
}

.font-30px{
    font-size: 30px;
}

.font{
    font-family: 'Nunito', sans-serif;
}



