RewriteEngine On

RewriteCond %{REQUEST_URI} !(\.gif|\.jpg|\.png|\.js|\.css)$ [NC]
RewriteRule ^index.html$ index.php [NC]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]