<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Baumbestand</h2>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <code>URL: '/api/records/anzahlBaeume'</code>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>

<!-- Beispiel -->
<section>
    <div class="row content-section text-center">

        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">

            <!-- Diagramm -->
            <canvas id="myChart"></canvas>

            <script type="text/javascript" src="/template/chart3.js"></script>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>