 <!-- Beschreibung -->
<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Diagramme</h2>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 clo-lg-push-1 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            
        </div>
        <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12 mb-5 mb-lg-0">
            <code>URL: "/api/records/anzahlBaeume"</code>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>

<!-- Diagramme -->
<section  id="example">
    <div class="row text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">grafische Darstellung des Baumkatasters</h2>
        </div>

        <div class="col-lg-3 col-md-2"></div>
        
        <div class="col-lg-6 col-md-8  col-sm-12 col-xs-12 mb-5 mb-lg-0">
        
            <canvas id="myChart"></canvas>

            <script src="/template/chart1.js" type="text/javascript"></script>
            
        </div>

        <div class="col-lg-3 col-md-2"></div>
    </div>
</section>