<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2>Videobeschreibungen des Programmes 'Statistik-Katze'</h2>
        </div>

        <!-- Projektbeschreibung -->
        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <h3>2. Installation und Programmaufbau</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/UvG9qPsgluY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>3. Responsetypen des Programmes</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/A1AXW009tS8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>4. Statistische Daten in Textform</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/vuvyyVm85d8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>