<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2>Videobeschreibungen des Programmes 'Statistik-Katze'</h2>
        </div>

        <!-- Projektbeschreibung -->
        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <h3>5. Statistische Daten als Tabelle</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Ket-9wy2juI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h3>5. Statistische Daten als Diagramme</h3>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>