<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Datenanalyse</title>

    	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="description" content="Datenanalyse" />
        <meta name="author" content="Staphan Krauß" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="/img/favicon.png">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">

		<!-- Tabulator CSS -->
		<link href="/tabulator/css/tabulator.min.css" rel="stylesheet">

		<!-- Own CSS -->
		<link rel="stylesheet" href="/own/own.css">

		<!-- jQuery library -->
		<script src="/jquery/jquery-3.6.0.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="/js/bootstrap.min.js"></script>	

		<!-- View Engine -->
        <script type="text/javascript" src="/viewEngine/jquery.view-engine.min.js"></script>

        <!-- JQuery Tabulator -->
        <script type="text/javascript" src="/tabulator/js/tabulator.min.js"></script>

        <!-- Chart JS -->
        <script src="/chartjs/chart.min.js" type="text/javascript"></script>

        <!-- statistische Funktionen -->
        <script type="text/javascript" src="/statisticalJs/statistical_function.js"></script>

        <!-- Boxplot -->
        <link rel="stylesheet" type="text/css" href="/boxplot/css/boxplot.css">
        <script type="text/javascript" src="/boxplot/js/boxplot.js"></script>
        <!--
        <script type="text/javascript" src="/boxplot/js/ui_init.js"></script>
    	-->
		
	</head>
	<body>
		<nav class="navbar navbar-default blau" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<img src="/img/logo.png"><a class="navbar-brand" href="/">Datenanalyse in Echtzeit</a>
				</div>
		
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse navbar-ex1-collapse navbar-margin">
					<ul class="nav navbar-nav">
						{% for bla in navigation %}
                    		<li><a href="{{ bla.link }}">> {{ bla.linkText }}</a></li>
                		{% endfor %}
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>

		{% include subTemplate ~ '.html' %}

		<footer class="blau">

            <div class="container">
            	<a href="/">
                    <img src="/img/logo.png">
                </a>
                <p><img src="/img/transparent.png"></p>
            	
            	<p>
            		<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" class="text_weiss">Creative Commons Namensnennung - Nicht-kommerziell - Weitergabe unter gleichen Bedingungen<br> 4.0 International Lizenz</a>.
            	</p>

                
                <div>
                    <p>
                        Copyright &copy; 2022 , Stephan Krauß
                    </p>
                    <p>
                    	Mail: <a href="mailto:info@stephankrauss.de" style="color: #ffffff;">info@stephankrauss.de</a> <br>
                        Mobil: 0152 / 097 203 78 <br>
                    </p>
                </div>
            </div>
        </footer>

		
	</body>
</html>