<!-- Beschreibung / Video -->
<section  id="detailDescription">
    <div class="row text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Beschreibung der Darstellung von Tabellen</h2>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 clo-lg-push-1 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            
        </div>
        <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Beschreibung und Video <br>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>

<!-- Beispiel -->
<section  id="example">
    <div class="row text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Auszug aus dem Baumkataster</h2>
        </div>

        <div class="col-lg-1"></div>
        
        <div class="col-lg-10 col-md-12  col-sm-12 col-xs-12 mb-5 mb-lg-0">
        
            <!-- Filter -->
            <div class="filter">
                
              <select class="filter-field">
                <option value="name">Name</option>
                <option value="zustand">Zustand</option>
                <option value="messung">Messung</option>
                <option value="baumnummer">Baumnummer</option>
                <option value="datum">Datum</option>
              </select>

              <select class="filter-type">
                <option value="eq">=</option>
                <option value="lt"><</option>
                <option value="le"><=</option>
                <option value="gt">></option>
                <option value="ge">>=</option>
                <option value="n">!=</option>
              </select>

              <input class="filter-value" type="text" placeholder="Filterwert">

              <button class="filter-set">Filter setzen</button>
              <button class="filter-clear">Filter löschen</button>

              <br><code id="query">/api/records/baumkataster</code>
            </div>

            <div id="result"></div>
              
            <script>

                var table;

                // URL für Tbelle
                var tableURL = "/api/records/baumkataster"; 
                
                $(document).ready(function()
                {
                    table = new Tabulator("#result", {
                        ajaxURL:tableURL, //ajax URL 
                        layout:"fitDataTable", // Tabelle mit Mindestbreite 
                        pagination:"local",
                        paginationSize:10,
                        paginationSizeSelector:[10, 25, 50],
                        movableColumns:true,
                        columns:[
                            {title:"Messung", field:"messung"},
                            {title:"Baumnummer", field:"baumnummer"},
                            {title:"Lat", field:"lat"},
                            {title:"Lon", field:"lon"},
                            {title:"Typ", field:"typ"},
                            {title:"Zustand", field:"zustand", formatter:"star", formatterParams:{stars:5}, hozAlign:"center", width:120},
                            {title:"Name", field:"name"},
                            {title:"Information", field:"link", formatter:"link", formatterParams:{
                                labelField:"link",
                                target:"_blank",
                            }},
                            {title:"Datum", field:"datum"},
                        ],
                    });

                   

                    $(".filter-set").on('click',function()
                    {
                        var appendix = 'filter=';
                        var filter = '';
                        var i = 0;
                        var append = false;

                        $(".filter > select, .filter-value").each(function()
                        {
                            if(this.value && i < 2)
                                filter += this.value + ',';
                            else if(this.value && i == 2){
                                filter += this.value;
                                append = true;
                            }

                            i++;
                        });
                    
                        if(append){
                            table.clearData();
                            table.setData(tableURL + '?' + appendix + filter);

                            $("#query").html(tableURL + '?' + appendix + filter);

                            append = false;
                        }
                        
                        i = 0;
                        filter = '';
                    });

                    $(".filter-clear").on('click',function()
                    {
                      table.clearData();
                      table.setData(tableURL);

                      $("#query").html(tableURL);
                      $("#countRows").html(15000);

                    });

                });
            </script> 
            
        </div>

        <div class="col-lg-1"></div>
    </div>
</section>