<!-- Beschreibung / Video -->
<section  id="detailDescription">
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Beschreibung</h2>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 clo-lg-push-1 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 1a
        </div>
        <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 2a
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 3a
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>

<!-- Beispiel -->
<section  id="example">
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Beispiel</h2>
        </div>

        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 col-md-12  col-sm-12 col-xs-12 mb-5 mb-lg-0">

            <div id="toolbar">
                <button id="ausblenden" class="btn btn-secondary">Datum ausblenden</button>
                <button id="einblenden" class="btn btn-secondary">Datum einblenden</button>
            </div>
        
            <table
              id="table"
              data-toolbar=".toolbar"
              data-height="400"
              data-virtual-scroll="true"
              data-search="true"
              data-show-columns-search="true">
              <thead>
                <tr>
                  <th data-field="baumnummer">Baumnummer</th>
                  <th data-field="messung">Messung</th>
                  <th data-field="lat">Lat</th>
                  <th data-field="lon">Lon</th>
                  <th data-field="zustand">Zustand</th>
                  <th data-field="name">Gattung</th>
                  <th data-field="datum">Datum</th>
                </tr>
              </thead>
            </table>

            <button id="button">Button</button>

           <script>

                $( document ).ready(function()
                {
                    var table = $('#table');

                    $.ajax({
                        url: "/api/records/baumkataster?include=baumnummer,lat,lon,zustand,name,datum,messung",
                        dataType: "json",
                        success: function(response)
                        {

                            for(var i = 1; i < response.records.length; i++ ){
                                // console.log(response.records[i].zustand);
                                var test 
                                if(response.records[i].zustand == '2')
                                     // response.records[i].zustand = '<b>SCHLECHT</b>';
                                     response.records[i].zustand = '<button type="button" class="glyphicon glyphicon-star" aria-label="Left Align">';
                            }

                            table.bootstrapTable({data: response.records});
                        },
                        error: function(response) {
                            alert('Javascript Error');
                        }
                    });

                    $("#ausblenden").on('click', function(){
                        table.bootstrapTable('hideColumn', 'datum');
                    });

                });

                

            </script>
            
        </div>

        <div class="col-lg-2"></div>
    </div>
</section>