<!-- Beschreibung / Video -->
<section  id="detailDescription">
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Beschreibung</h2>
        </div>

        <div class="col-lg-1"></div>
        <div class="col-lg-3 clo-lg-push-1 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 1a
        </div>
        <div class="col-lg-4 col-md-4  col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 2a
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-5 mb-lg-0">
            Bereich 3a
        </div>
        <div class="col-lg-1"></div>
    </div>
</section>

<!-- Beispiel -->
<section  id="example">
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Beispiel</h2>
        </div>

        <div class="col-lg-1"></div>
        
        <div class="col-lg-10 col-md-12  col-sm-12 col-xs-12 mb-5 mb-lg-0">
        
             <h1 style = "color:green;" > 
                GeeksForGeeks 
            </h1>
              
            <p id = "GFG_UP"></p>
              
            <button onclick = "myGFG()">
                Click Here
            </button>
              
            <p id = "GFG_DOWN"></p>
              
            <script>
                var up = document.getElementById("GFG_UP");
                  
                var JS_Obj = '{"prop_1":"val_1", "prop_2":"val_2", "prop_3" : "val_3"}';
                  
                up.innerHTML = "JSON string - '" + JS_Obj + "'";
                  
                var down = document.getElementById("GFG_DOWN");
                  
                function myGFG()
                {
                    var obj = JSON.parse(JS_Obj);
                    var res = [];
                      
                    for(var i in obj)
                        res.push(obj[i]);
                      
                    down.innerHTML = "Array of values - [" + res + "]";
                }
            </script> 
            
        </div>

        <div class="col-lg-1"></div>
    </div>
</section>