<!-- Startbereich -->
<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Test1 - Chart</h2>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <canvas id="myChart"></canvas>

            <script type="text/javascript">

                randomScalingFactor = function() {
                    return Math.round(Math.random() * 100);
                }

                function getData() {
                  var dataSize = 10; // Anzahl Elemente
                  
                  var labels = [];

                  // Definitionsblock
                  var scoreData = {
                    label: 'individuelle Farben',
                    data: [],
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 1,
                    hoverBackgroundColor: 'rgba(200, 200, 200, 1)',
                    hoverBorderColor: 'rgba(200, 200, 200, 1)',
                  };

                  for (var i = 0; i < dataSize; i++) {
                    scoreData.data.push(randomScalingFactor());
                    labels.push("Score " + (i + 1));

                    var o = Math.round, r = Math.random, s = 255;
                    var farbWert = 'rgb(' + o(r()*s) + ',' + o(r()*s) + ',' + o(r()*s) + ',1.0)';

                    scoreData.backgroundColor.push(farbWert);
                    scoreData.borderColor.push(farbWert);
                  }

                  return {
                    labels: labels,
                    datasets: [scoreData],
                  };
                };

                $("#document").ready(function()
                {
                  var chartData = getData();
                  console.dir(chartData);
                  
                  var myBar = new Chart(document.getElementById("myChart").getContext("2d"), {
                    type: 'doughnut',
                    data: chartData,
                    options: {
                      title:{
                        display: true,
                        text: "Chart.js - Dynamically Data and Colors"
                      },
                      legend: {
                        display: false
                      },
                      scales: {
                        yAxes: [{
                          ticks: {
                            beginAtZero: true
                          }
                        }]
                      }
                    }
                  });
                });

            </script>
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>