<!-- Startbereich -->
<section>
    <div class="row content-section text-center">

        <div class="content-section-heading">
            <h2 class="mb-5">Darstellung Datenbankabfrage in Textform</h2>
            
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1"></div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
            
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>

<!-- Beispiel -->
<section>
    <div class="row content-section text-center">

        <div class="col-lg-3 col-md-2 col-sm-1">
            
            <script type="text/javascript" src="/template/text.js"></script>
        </div>

        <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12"  align="left">
            <p>
                <code id="query"></code>
            </p>
            
            <br>Spalten der Abfrage: <input type="text" id='includes'  placeholder="Spalte1, Spalte2, ..."> <button id="add">senden</button><br>

            <p>
                <ul id="list">
                    <li>id: <span id="id"></span></li>
                    <li>lat: <span id="lat"></span></li>
                    <li>lon: <span id="lon"></span></li>
                    <li>point: <span id="point"></span></li>
                    <li>typ: <span id="typ"></span></li>
                </ul>
            </p>
            
        </div>

        <div class="col-lg-3 col-md-2 col-sm-1">
    </div>
</section>